html{
    background: #e3e3e3;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background-color: lightgrey;
}

h1{
    font-size: 3em;
    margin: 0;
    

}

p{
    line-height: 1.4em;
    

}

.blog-post{
    border-bottom: 1px solid #000000;
    border-top: 1px dotted #000000;

}

h3{
    color: lightslategray;
}

h2{
    color: lightslategray;
}

th{
    color: rebeccapurple;
}

td{
    color: blue;
}

section{
    background-color: darkgray;
    display: flex;
}

article{
    margin: 5px;
    padding: 5px;
    
    
}

article:nth-of-type(0){
    flex: 2;

}

article:nth-of-type(2){
    flex: 2;
}

.sticky{
    
    background-origin: padding-box;
    background-color: coral;
    outline-style: groove;
    position: sticky;
    margin: -50px, 20px;
    top: 0;
}

.img-container {
    margin-right: 20px;


    float: left;
}

footer{
    position: fixed;
    bottom: 0;
}